<div class="justify-content-center mt-3">
  <div class="col-8 m-auto">
    <div class="card text-center text-white bg-dark">
      <h1 class="card-header text-white">Shopping Cart</h1>
      <div class="card-body">
        <ul>
          <% @current_orders.each.uniq do |item| %>
            <li class="cart">
                <div class="cartitem">
                  <%= image_tag(Product.find(item["product_id"]).image, width: '150', height: '150', alt: 'Image') %>
                </div>
                <div class="cartitem">
                  <p class="itemname"><%= Product.find(item["product_id"]).name %></p>
                  <% if Product.find(item["product_id"]).quantity > 0 %>
                    <p class="in-stock">In Stock x (<%= Product.find(item["product_id"]).quantity %>)</p>
                  <% else %>
                    <p class="no-stock">Out of Stock</p>
                  <% end %>
                  <p>Ships from and sold by Scamazon.ca</p>
                  <p><input type="checkbox" style="margin-right:5px !important;">This will be a gift</p>
                  <%= form_with(url:  update_cart_url(item["product_id"]), local: true, method: "post") do %>
                    <%= text_field_tag(:quantity, item["quantity"]) %>
                    <%= submit_tag("Update Quantity", class: 'search-button') %>
                  <p class="remove-item"><%= link_to 'Remove', remove_from_cart_path(item["product_id"]), method: :delete %></p>
                  <% end %>
                </div>
                <div class="cartprice">
                  CDN <%= number_to_currency((Product.find(item["product_id"]).price / 100.0) * item["quantity"].to_i) %>
                </div>
                <% @total += (Product.find(item["product_id"]).price / 100.0) * item["quantity"].to_i %>
            </li>
          <% end %>
          <% unless @current_orders.empty? %>
            <div class="cart-total">
              <p>Tax: <%= number_to_currency(@total * (@user.province.gst + @user.province.pst + @user.province.hst)) %></p>
              <p>Total: <%= number_to_currency(@total += @total * (@user.province.gst + @user.province.pst + @user.province.hst)) %></p>
            </div>
          <% end %>
        </ul>
        <% if @current_orders.empty? %>
          <h3>Cart is Empty :(</h3>
        <% else %>
          <% if session[:user] %>
            <div class="buynow"><%= button_to 'Proceed to Checkout', checkout_create_path(0), method: :post, remote: true %></div>
          <% else %>
            <div class="buynow"><%= button_to 'Checkout as Guest', checkout_guest_path, method: :get %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>