<div>

  <details>
    <summary>Shopping Cart</summary>
      <ul>
        <% @cart.each do |product| %>
          <li><%= product.name %> - <%= link_to 'remove from cart', remove_from_cart_url(product), method: :delete %></li>
        <% end %>
      </ul>
  </details>

  <% @categories.each do |category| %>
    <div class="">
      <h1><%= link_to category.name, category_path(category) %></h1>
    </div>
    <div class="card-group">
      <% @products.where(category_id: category.id).each do |product| %>
        <div class="col-sm-3">
          <div class="card mb-4 bg-light">
            <div class="img-overlay">
              <%= image_tag('discount.png') %>
            </div>
            <%= link_to image_tag(product.image, height: '250', class: 'card-img'), product_path(product) %>
            <h5 class="card-text pl-2 text-black"><%= number_to_currency((product.price / 100.0)) %></h5>
            <h6 class="card-text pl-2 linethrough stext-black"><%= number_to_currency((product.price / 100.0) / 0.20) %></h6>
            <% if @cart.include?(product) %>
              <p><%= button_to 'remove from cart', remove_from_cart_url(product), method: :delete %></p>
            <% else %>
              <p><%= link_to 'add to cart', add_to_cart_url(product.id), method: :post %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>