<div class="row justify-content-center mt-3">
  <div class="col-8">
    <div class="card text-white bg-dark">
      <h1 class="card-header text-white">Name: <%= @product.name %></h1>
      <div class="card-body">
        <%= image_tag(@product.image, width: '250', height: '250') %>
        <p class="card-text"><strong>Description:</strong> <%= @product.description %></p>
        <p class="card-text"><strong>Pice:</strong> <%= number_to_currency(@product.price / 100.0) %></p>
        <p class="card-text"><strong>Quantity:</strong> <%= @product.quantity %></p>
      </div>
    </div>
  </div>
</div>