<div class="justify-content-center mt-3">
  <div class="col-8 m-auto">
    <div class="card text-center text-white bg-dark">
      <h1 class="card-header text-white">Sign-Up</h1>
      <div class="card-body">

        <%= form_with(url: account_sign_up_path, local: true, method: "post", action: "sign_up") do %>
          <div class="login-form">
            <p>Username: <%= text_field_tag(:user_name) %></p>
            <p>Address: <%= text_field_tag(:address) %></p>
            <p>Province: <%= select_tag "province", options_from_collection_for_select(Province.all, "id", "name") %></p>
            <p>Password: <%= password_field_tag(:password_1) %></p>
            <p>Confirm Password: <%= password_field_tag(:password_2) %></p>
            <%= submit_tag("Create User", class: 'search-button') %>
          </div>
        <% end %>

        <p class="card-footer text-muted">Sign-Up form</p>
      </div>
    </div>
  </div>
</div>