<!DOCTYPE html>
<html>
  <head>
    <title>Scamazon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src=<%= image_url('Scamazon_Logo.png')%> height="40" class="d-inline-block align-top" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item noline <%= 'active' if current_page?(root_path) %>">
            <%= link_to 'Home', root_path, class: "nav-link" %>  <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item noline <%= 'active' if current_page?(category_index_path) %>">
            <%= link_to 'Categories', category_index_path, class: "nav-link" %>
          </li>
          <li class="nav-item noline">
            <%= render partial: 'product/search' %>
          </li>
          <li class="nav-item noline <%= 'active' if current_page?(admin_user_session_path) %>">
            <%= link_to 'Account', root_path, class: "nav-link" %>  <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item noline <%= 'active' if current_page?(cart_index_path) %>">
            <%= link_to "Cart (#{@cart.size})", cart_index_path, class: "nav-link" %>
          </li>
          <li class="nav-item noline <%= 'active' if current_page?(admin_user_session_path) %>">
            <%= link_to 'About', root_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>

